In [1]:
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn import metrics
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('dataset3.csv')
df

,mora,atraso,vivienda,edad,dias_lab,exp_sf,nivel_ahorro,ingreso,linea_sf,deuda_sf,score,zona,clasif_sbs,nivel_educ
0,0,235,1,30,3748,93,5,3500.00,121543.40,0.00,214,15,4,3
1,0,18,1,32,4598,9,12,900.00,1824.67,1933.75,175,13,1,2
2,0,0,1,26,5148,8,2,2400.00,2797.38,188.29,187,15,0,3
3,0,0,1,36,5179,20,12,2700.00,121543.40,0.00,187,2,0,2
4,0,0,1,46,3960,3,1,3100.00,2000.00,11010.65,189,15,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3747,1,9,1,53,8282,3,12,3500.00,121543.40,957.89,215,15,0,3
3748,1,0,1,47,5847,47,12,1388.25,11080.33,0.50,180,15,1,2
3749,1,0,1,31,3991,10,12,2100.00,3570.00,8567.67,200,15,0,3
3750,1,2,2,28,4995,9,12,1047.29,1129.65,1937.06,194,12,0,2
3751,1,51,2,33,4935,27,12,1434.96,1000.00,4314.83,194,20,2,2

In [4]:
X= df.drop(['mora'], axis=1)
X.values

array([[235.,   1.,  30., ...,  15.,   4.,   3.],
       [ 18.,   1.,  32., ...,  13.,   1.,   2.],
       [  0.,   1.,  26., ...,  15.,   0.,   3.],
       ...,
       [  0.,   1.,  31., ...,  15.,   0.,   3.],
       [  2.,   2.,  28., ...,  12.,   0.,   2.],
       [ 51.,   2.,  33., ...,  20.,   2.,   2.]])

In [5]:
y = np.array(df['mora'])
y

array([0, 0, 0, ..., 1, 1, 1], dtype=int64)